/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

figure {
  width: 95%;
}

table, td, th {
  border: 3px solid;
  border-color: #800080;
}

table {
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url("./assets/leopardskin.jpg");
  color: white;
  font-family: "Rock Salt";
  font-size: 0.65em;
}

tfoot {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url("./assets/leopardskin.jpg");
  color: white;
  font-family: "Rock Salt";
  font-size:0.65em;
}

tbody td {
  background: url("./assets/noise.png");
  border: none;
  font-family: 'Helevetica Neu';
  font-size: 0.8em;
}

td, th {
  padding-top: 1em;
  padding-bottom: 1em;
}

#label {
  text-align: right;
  padding-right: 15px;
}

#total{
  text-align: left;
  padding-left: 15px;
}

.odd {
  background-image: url("./assets/noise.png");
  background-color: #ff33cc;
}

.even {
  background-image: url("./assets/noise.png");
  background-color: #e495e4;
}
